In [ ]:
from selenium import webdriver
import pandas as pd
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import re 
from matplotlib import pyplot as plt
import seaborn as sns
import time
import urllib3
pd.plotting.register_matplotlib_converters()
from warnings import filterwarnings
filterwarnings('ignore')
# %matplotlib inline
print("Setup Complete")

## Exploring

In [377]:
url = 'https://data.edu.az/az/verified/2022001/'
page = requests.get(url)
html = BeautifulSoup(page.content, 'html.parser')
student = html.find_all('h1', class_ = 'kingster-page-title')

In [52]:
name=re.sub('<[^>]+>' , ' ', str(student)).strip().split()[1]
surname=re.sub('<[^>]+>' , ' ', str(student)).strip().split()[2]
print(name,surname)

Yasaman Abbaszada

In [385]:
' '.join(re.sub('<[^>]+>' , ' ', str(student)).strip().split())

'[ Yasaman Abbaszada ]'

In [279]:
course_info = html.find_all('h1', style = 'color: #002347;font-size: 25px;')
course=re.sub('<[^>]+>' , ' ', str(course_info)).strip()
course

'[ Oracle Database SQL ]'

In [159]:
details = html.find_all('div',class_='course-details')
'-'.join((re.sub('<[^>]+>' , ' ', str(details)).strip().split(' ')[12:15]))

'1-Fevral-2022'

In [150]:
details

[<div class="course-details" style="padding: 12px 37px 12px 0;">
 <h3 class="H3_1qzapvr-o_O-weightNormal_s9jwp5-o_O-fontHeadline_1uu0gyz"><span style="color: #002347 !important">Completed by <strong>Yasaman Abbaszada</strong></span>
 </h3>
 <p><strong>1 Fevral 2022</strong></p>
 <p><strong><span>3months, 12 weeks, 60 hours</span></strong></p>
 <p></p>
 <p class="account-verification-describtion"><span>Yasaman Abbaszadaâ€™s account is verified. Data SoCool certifies their successful completion of <a class="course-link" href="/az/telim/oracle-database-sql-telimi/" s4="">Oracle Database SQL</a>.</span>
 </p></div>]

In [244]:
'-'.join(re.sub('<[^>]+>' , ' ', str(details)).strip().split(' ')[17:19]).replace(',','')

'12-weeks'

In [234]:
details = html.findChild('div',class_='course-details')
duration=re.sub('<[^>]+>' , ' ', str(details)).strip().split(' ')[16:21]
duration_month=duration[0].replace(',','')
duration_index=duration[1:3]
duration_week='-'.join(duration_index).replace(',','')
duration_index_2=duration[3:5]
duration_hours='-'.join(duration_index_2).replace(',','')

In [284]:
link_details = html.find_all('input',style='width:70%;display: inline-flex')
link_details=str(link_details)
cert_link=link_details.strip().split(' ')[-1].replace('value="','').replace('"/>]','')
cert_link

'https://data.edu.az/verified/2022001/'

In [ ]:
str(html.find_all('input',style='width:70%;display: inline-flex')).strip().split(' ')[-1].replace('value="','').replace('"/>]','')

In [ ]:
link_details = html.find_all('input',style='width:70%;display: inline-flex')
# link_details=str(link_details)
link_details.strip().split(' ')[-1].replace('value="','').replace('"/>]','')

## Preparation

In [302]:
%%time
surname=[]
surname_df=pd.DataFrame()

for page_num in range(2022001,2022999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    student = html.find_all('h1', class_ = 'kingster-page-title')
    for i in range (len(student)):
        surname_cleaned=re.sub('<[^>]+>' , ' ', str(student[i])).strip().split()[1]
        surname.append({'page':page_num,'surname':surname_cleaned})
        surname_df=pd.DataFrame(surname)
surname_df

CPU times: total: 17.9 s
Wall time: 2min 43s

        page     surname
0    2022001   Abbaszada
1    2022003     Juvarov
2    2022004    Huseynov
3    2022006  Ramazanova
4    2022007    Ahmadova
..       ...         ...
232  2022258    Jafarova
233  2022259   Guseynova
234  2022260   Ä°smayilov
235  2022500    Mammadli
236  2022800     Hajiyev

[237 rows x 2 columns]

In [303]:
%%time
name=[]
name_df=pd.DataFrame()
for page_num in range(2022001,2022999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    student = html.find_all('h1', class_ = 'kingster-page-title')
    for i in range (len(student)):
        name_cleaned=re.sub('<[^>]+>' , ' ', str(student[i])).strip().split()[0]
        name.append({'page':page_num,'name':name_cleaned})
        name_df=pd.DataFrame(name)
name_df

CPU times: total: 19.2 s
Wall time: 2min 52s

        page     name
0    2022001  Yasaman
1    2022003    Elvin
2    2022004   Rustam
3    2022006    Faina
4    2022007    Aisha
..       ...      ...
232  2022258    Almaz
233  2022259    Maral
234  2022260    Kanan
235  2022500    Gunel
236  2022800    Nijat

[237 rows x 2 columns]

In [304]:
%%time
course=[]
course_df=pd.DataFrame()

for page_num in range(2022001,2022999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    course_info = html.find_all('h1', style = 'color: #002347;font-size: 25px;')
    for i in range (len(course_info)):
        course_cleaned=re.sub('<[^>]+>' , ' ', str(course_info[i])).strip()
        course.append({'page':page_num,'course_name':course_cleaned})
        course_df=pd.DataFrame(course)
course_df

CPU times: total: 18.4 s
Wall time: 2min 43s

        page                           course_name
0    2022001                   Oracle Database SQL
1    2022003                   Oracle Database SQL
2    2022004                   Oracle Database SQL
3    2022006                   Oracle Database SQL
4    2022007                   Oracle Database SQL
..       ...                                   ...
232  2022258              Data Science with Python
233  2022259              Data Science with Python
234  2022260              Data Science with Python
235  2022500                   Oracle Database SQL
236  2022800  Professional Reporting with Power BI

[237 rows x 2 columns]

In [305]:
%%time
graduate_date_info=[]
graduate_date_info_df=pd.DataFrame()
for page_num in range(2022001,2022999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    details = html.find_all('div',class_='course-details')
    for i in range(len(details)):
        graduate_cleaned='-'.join((re.sub('<[^>]+>' , ' ', str(details)).strip().split(' ')[12:15]))
        graduate_date_info.append({'page':page_num,'graduate_date':graduate_cleaned})
        graduate_date_info_df=pd.DataFrame(graduate_date_info)    
graduate_date_info_df

CPU times: total: 18.6 s
Wall time: 2min 49s

        page     graduate_date
0    2022001     1-Fevral-2022
1    2022003     1-Fevral-2022
2    2022004     1-Fevral-2022
3    2022006     1-Fevral-2022
4    2022007     1-Fevral-2022
..       ...               ...
232  2022258  21-Sentyabr-2022
233  2022259  21-Sentyabr-2022
234  2022260  21-Sentyabr-2022
235  2022500    28-Avqust-2022
236  2022800  29-Sentyabr-2022

[237 rows x 2 columns]

In [306]:
%%time
duration_info=[]
duration_info_df=pd.DataFrame()
for page_num in range(2022001,2022999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    details = html.find_all('div',class_='course-details')
    for i in range(len(details)):
        duration_cleaned=re.sub('<[^>]+>' , ' ', str(details[i])).strip().split(' ')[16:17][0].replace(',','')
        duration_info.append({'page':page_num,'duration_with_month':duration_cleaned})
        duration_info_df=pd.DataFrame(duration_info)    
duration_info_df

CPU times: total: 18.8 s
Wall time: 2min 54s

        page duration_with_month
0    2022001             3months
1    2022003             3months
2    2022004             3months
3    2022006             3months
4    2022007             3months
..       ...                 ...
232  2022258             3months
233  2022259             3months
234  2022260             3months
235  2022500             3months
236  2022800                 1.5

[237 rows x 2 columns]

In [307]:
%%time
duration_info_week=[]
duration_info_week_df=pd.DataFrame()
for page_num in range(2022001,2022999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    details = html.find_all('div',class_='course-details')
    for i in range(len(details)):
        duration_week_cleaned='-'.join(re.sub('<[^>]+>' , ' ', str(details[i])).strip().split(' ')[17:18]).replace(',','')
        duration_info_week.append({'page':page_num,'duration_with_week':duration_week_cleaned})
        duration_info_week_df=pd.DataFrame(duration_info_week)    
duration_info_week_df

CPU times: total: 17.8 s
Wall time: 2min 37s

        page duration_with_week
0    2022001                 12
1    2022003                 12
2    2022004                 12
3    2022006                 12
4    2022007                 12
..       ...                ...
232  2022258                 12
233  2022259                 12
234  2022260                 12
235  2022500                 12
236  2022800              month

[237 rows x 2 columns]

In [308]:
%%time
cert_list=[]
cert_list_df=pd.DataFrame()
for page_num in range(2022001,2022999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    link_details = html.find_all('input',style='width:70%;display: inline-flex')
    for i in range(len(link_details)):
        link_details_cleaned=str(link_details).strip().split(' ')[-1].replace('value="','').replace('"/>]','')
        cert_list.append({'page':page_num,'certification_link':link_details_cleaned})
        cert_list_df=pd.DataFrame(cert_list)    
cert_list_df

CPU times: total: 18.7 s
Wall time: 3h 37min 8s

        page                     certification_link
0    2022001  https://data.edu.az/verified/2022001/
1    2022003  https://data.edu.az/verified/2022003/
2    2022004  https://data.edu.az/verified/2022004/
3    2022006  https://data.edu.az/verified/2022006/
4    2022007  https://data.edu.az/verified/2022007/
..       ...                                    ...
232  2022258  https://data.edu.az/verified/2022258/
233  2022259  https://data.edu.az/verified/2022259/
234  2022260  https://data.edu.az/verified/2022260/
235  2022500  https://data.edu.az/verified/2022500/
236  2022800  https://data.edu.az/verified/2022800/

[237 rows x 2 columns]

In [309]:
name_surname=name_df.merge(surname_df, how='inner', on='page')

In [310]:
course_name=name_surname.merge(course_df, how='inner', on='page')

In [311]:
course_name_graduate=course_name.merge(graduate_date_info_df, how='inner', on='page')

In [ ]:
course_name_graduate_dur_month=course_name_graduate.merge(duration_info_df, how='inner', on='page')

In [ ]:
course_name_graduate_dur_month_week=course_name_graduate_dur_month.merge(duration_info_week_df, how='inner', on='page')

In [ ]:
df=course_name_graduate_dur_month_week.merge(cert_list_df, how='inner', on='page')

In [ ]:
df.to_excel('kurs_2021_full.xlsx', engine='xlsxwriter')

## for 2021

In [ ]:
%%time
surname=[]
surname_df=pd.DataFrame()

for page_num in range(2021001,2021999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    student = html.find_all('h1', class_ = 'kingster-page-title')
    for i in range (len(student)):
        surname_cleaned=re.sub('<[^>]+>' , ' ', str(student[i])).strip().split()[1]
        surname.append({'page':page_num,'surname':surname_cleaned})
        surname_df=pd.DataFrame(surname)
surname_df

In [ ]:
%%time
name=[]
name_df=pd.DataFrame()
for page_num in range(2021001,2021999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    student = html.find_all('h1', class_ = 'kingster-page-title')
    for i in range (len(student)):
        name_cleaned=re.sub('<[^>]+>' , ' ', str(student[i])).strip().split()[0]
        name.append({'page':page_num,'name':name_cleaned})
        name_df=pd.DataFrame(name)
name_df

In [ ]:
%%time
course=[]
course_df=pd.DataFrame()

for page_num in range(2021001,2021999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    course_info = html.find_all('h1', style = 'color: #002347;font-size: 25px;')
    for i in range (len(course_info)):
        course_cleaned=re.sub('<[^>]+>' , ' ', str(course_info[i])).strip()
        course.append({'page':page_num,'course_name':course_cleaned})
        course_df=pd.DataFrame(course)
course_df

In [ ]:
%%time
graduate_date_info=[]
graduate_date_info_df=pd.DataFrame()
for page_num in range(2021001,2021999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    details = html.find_all('div',class_='course-details')
    for i in range(len(details)):
        graduate_cleaned='-'.join((re.sub('<[^>]+>' , ' ', str(details)).strip().split(' ')[12:15]))
        graduate_date_info.append({'page':page_num,'graduate_date':graduate_cleaned})
        graduate_date_info_df=pd.DataFrame(graduate_date_info)    
graduate_date_info_df

In [ ]:
%%time
duration_info=[]
duration_info_df=pd.DataFrame()
for page_num in range(2021001,2021999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    details = html.find_all('div',class_='course-details')
    for i in range(len(details)):
        duration_cleaned=re.sub('<[^>]+>' , ' ', str(details[i])).strip().split(' ')[16:17][0].replace(',','')
        duration_info.append({'page':page_num,'duration_with_month':duration_cleaned})
        duration_info_df=pd.DataFrame(duration_info)    
duration_info_df

In [ ]:
%%time
duration_info_week=[]
duration_info_week_df=pd.DataFrame()
for page_num in range(2021001,2021999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    details = html.find_all('div',class_='course-details')
    for i in range(len(details)):
        duration_week_cleaned='-'.join(re.sub('<[^>]+>' , ' ', str(details[i])).strip().split(' ')[17:18]).replace(',','')
        duration_info_week.append({'page':page_num,'duration_with_week':duration_week_cleaned})
        duration_info_week_df=pd.DataFrame(duration_info_week)    
duration_info_week_df

In [ ]:
%%time
cert_list=[]
cert_list_df=pd.DataFrame()
for page_num in range(2021001,2021999):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    link_details = html.find_all('input',style='width:70%;display: inline-flex')
    for i in range(len(link_details)):
        link_details_cleaned=str(link_details).strip().split(' ')[-1].replace('value="','').replace('"/>]','')
        cert_list.append({'page':page_num,'certification_link':link_details_cleaned})
        cert_list_df=pd.DataFrame(cert_list)    
cert_list_df

In [295]:
name_surname=name_df.merge(surname_df, how='inner', on='page')

In [296]:
course_name=name_surname.merge(course_df, how='inner', on='page')

In [297]:
course_name_graduate=course_name.merge(graduate_date_info_df, how='inner', on='page')

In [298]:
course_name_graduate_dur_month=course_name_graduate.merge(duration_info_df, how='inner', on='page')

In [299]:
course_name_graduate_dur_month_week=course_name_graduate_dur_month.merge(duration_info_week_df, how='inner', on='page')

In [300]:
df=course_name_graduate_dur_month_week.merge(cert_list_df, how='inner', on='page')

In [301]:
df.to_excel('kurs_2021.xlsx', engine='xlsxwriter')

## starting main loop

In [14]:
%%time

name=[]
name_df=pd.DataFrame()

course=[]
course_df=pd.DataFrame()

graduate_date_info=[]
graduate_date_info_df=pd.DataFrame()

duration_info=[]
duration_info_df=pd.DataFrame()

cert_list=[]
cert_list_df=pd.DataFrame()

for page_num in range(2010001,2022300):
    url = f'https://data.edu.az/az/verified/{page_num}/'
    page = requests.get(url)
    html = BeautifulSoup(page.content, 'html.parser')
    student = html.find_all('h1', class_ = 'kingster-page-title')
    course_info = html.find_all('h1', style = 'color: #002347;font-size: 25px;')
    details = html.find_all('div',class_='course-details')
    link_details = html.find_all('input',style='width:70%;display: inline-flex')
    for i in range (len(student)):
        name_cl=' '.join(re.sub('<[^>]+>' , ' ', str(student[i])).strip().split())
        name.append({'page':page_num,'name':name_cl})
        name_df=pd.DataFrame(name)
    for i in range (len(course_info)):
        course_cleaned=re.sub('<[^>]+>' , ' ', str(course_info[i])).strip()
        course.append({'page':page_num,'course_name':course_cleaned})
        course_df=pd.DataFrame(course)
    for i in range(len(details)):
        graduate_cleaned='-'.join((re.sub('<[^>]+>' , ' ', str(details)).strip().split(' ')[12:15]))
        graduate_date_info.append({'page':page_num,'graduate_date':graduate_cleaned})
        graduate_date_info_df=pd.DataFrame(graduate_date_info) 
    for i in range(len(details)):
        duration_cleaned=re.sub('<[^>]+>' , ' ', str(details[i])).strip().split(' ')[16:17][0].replace(',','')
        duration_info.append({'page':page_num,'duration_with_month':duration_cleaned})
        duration_info_df=pd.DataFrame(duration_info)
    for i in range(len(link_details)):
        link_details_cleaned=str(link_details).strip().split(' ')[-1].replace('value="','').replace('"/>]','')
        cert_list.append({'page':page_num,'certification_link':link_details_cleaned})
        cert_list_df=pd.DataFrame(cert_list)
df=name_df.merge(course_df,how='inner', 
                 on='page').merge(graduate_date_info_df,
                                  how='inner', on='page').merge(duration_info_df,
                                                                how='inner',on='page').merge(cert_list_df,
                                                                                             how='inner',on='page')

CPU times: total: 3min 35s
Wall time: 1h 14min 39s

In [15]:
df

,page,name,course_name,graduate_date,duration_with_month,certification_link
0,2011101,Ilkin Mehdiyev,Data Science with R,30-Ä°yun-2019,2,https://data.edu.az/verified/2011101/
1,2011215,Nurlan Umarov,Sales Analytics and Predictive Marketing,8-Aprel-2020,2,https://data.edu.az/verified/2011215/
2,2011216,Nurlan Umarov,Sales Analytics and Predictive Marketing,8-Aprel-2020,2,https://data.edu.az/verified/2011216/
3,2011390,Taleh Salmanov,Oracle Database SQL,16-Yanvar-2020,3,https://data.edu.az/verified/2011390/
4,2011391,Anvar Alibayov,Oracle Database SQL,16-Yanvar-2020,3,https://data.edu.az/verified/2011391/
...,...,...,...,...,...,...
424,2022256,Jalal Jalalzade,Data Science with Python,21-Sentyabr-2022,3months,https://data.edu.az/verified/2022256/
425,2022257,Mugdat Hajizade,Data Science with Python,21-Sentyabr-2022,3months,https://data.edu.az/verified/2022257/
426,2022258,Almaz Jafarova,Data Science with Python,21-Sentyabr-2022,3months,https://data.edu.az/verified/2022258/
427,2022259,Maral Guseynova,Data Science with Python,21-Sentyabr-2022,3months,https://data.edu.az/verified/2022259/
428,2022260,Kanan Ä°smayilov,Data Science with Python,21-Sentyabr-2022,3months,https://data.edu.az/verified/2022260/

In [16]:
df.to_excel('last.xlsx', engine='xlsxwriter')